/ = simple_form_for(@prototype) do |f|
/   = f.error_notification

/   .form-inputs
/     / = f.simple_fields_for :attachments do |fi|
/     / = fi.input :file, :as => 'file', :input_html => {:multiple => 'multiple'}
/     / = f.input :code_url
/     / = f.input :preview_url
/     / = f.input :short_url
/     = f.input :attachments, :as => 'file'
/     = f.input :device
/     = f.input :description

/   .form-actions
/     = f.button :submit

= form_for @prototype, :html => {:multipart => true} do |f|
  = f.label :title
  = f.text_field :title
  = f.label :device
  = f.text_field :device
  = f.label :description
  = f.text_field :description
  = file_field_tag "attachments[]", type: :file, multiple: true, webkitdirectory: true, directory: true
  = hidden_field_tag "filename[]"
  = f.submit

