= simple_form_for @prototype, :html => {:multipart => true} do |f|
  .large-6.large-centered.columns
    .form-inputs
      = f.input :title
      = f.input :device, collection: @devices
      = f.input :description, as: :text, input_html: { :rows => 6 }
      = f.input :tags, input_html: { :id => "tags" }
  .large-6.large-centered.columns
    .form-inputs
      / = f.label :preview
      = f.input :preview, as: :file
      = f.label :attachments
      = file_field_tag "attachments[]", type: :file, multiple: true, webkitdirectory: true, directory: true
      = hidden_field_tag "filename[]"
  .large-6.large-centered.columns
    .form-actions
      .panel
        .text-right
          = link_to 'Cancel', :back
          |
          = f.button :submit