%li#top
  - if request.path == '/top'
    = link_to 'Top', "/top", class: "active"
  - else
    = link_to 'Top', "/top"
%li#rising
  - if request.path == '/rising'
    = link_to 'Rising', "/rising", class: "active"
  - else
    = link_to 'Rising', "/rising"
%li#newest
  - if request.path == '/newest'
    = link_to 'Newest', "/newest", class: "active"
  - else
    = link_to 'Newest', "/newest"